.navSearchInputBar[type="search"]::-webkit-search-decoration,
.navSearchInputBar[type="search"]::-webkit-search-cancel-button,
.navSearchInputBar[type="search"]::-webkit-search-results-button,
.navSearchInputBar[type="search"]::-webkit-search-results-decoration { display: none; }
.superContainer{
    width: 100% !important
}
.navContainer {
    background: #270F33;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
    height: 102px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navSearchBar{
    width: 435px;
    height: 34px;
    border-radius: 22px;
    border: 1px solid #C8C7C7;
}
.navSearchInputBar{
    all: unset;
    position: absolute;
    width: 300px;
    margin: 10px;
    color: white;

}
.searchIcon{
    color: white;
    margin: 10px;
}
.navPages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 506px;
    height: 16px;
    color: white;
}
.navPages:hover{
    cursor: pointer;
}
.mobileSearchContainer{
    display: none;
}
.navSearchInputBar ::placeholder{
    color: white;
    text-emphasis-color: white;
} 
.linkComponent{
    all: unset;
}

@media screen and (min-width: 320px) and (max-width: 400px){
     .navSearchBar{
        display: none;
     }
     .navPages{
        display: none;
     }
     .mobileSearchContainer{
        display: flex;
        gap: 10px;
        color: white;
        align-items: center;
     }
     .navContainer{
        width: 100vw;
        justify-content: space-between;
     }
}